@import url("https://fonts.googleapis.com/css?family=Athiti");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* border: solid 1px red; */
}

body {
  font-family: "Athiti";
  margin: 0;
  transition: 1.5s;
}

.nav-bar {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #222222;
  position: fixed;
  z-index: 1;
}
.nav-bar ul {
  /* border: 1px solid black; */
  display: flex;
  list-style-type: none;
  flex: 2;
  margin: 0;
}

.nav-bar-left {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-left li {
  white-space: nowrap;
  padding: 2px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}
/* #nav-bar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 1.5em;
} */

.logo {
  width: 6vw;
  /* height: 10vh; */
  /* top: 0; */
  /* position: fixed; */
  /* float: right; */
  /* right: 0; */
  /* margin-left: 300px; */
}

#logo {
  width: 2vw;
  height: 1vh;
  margin-left: -10vh;
}

.hamburger img {
  width: 20vw;
  height: 8vh;
  margin-top: -4.5vh;
  background-color: #222222;
  padding: 2vw;
}

/* .hamburger img {
    width: 6vw;
    margin-top: 2vh;
    padding: 0 1vw;
    margin: 0 auto;
    height: 6.5vh;
    background-color: #272727;
    border: none;
} */

#front-page {
  padding: 15rem 0;
}

.orchid-background {
  display: flex;
  margin-top: 0px;
  padding-top: 0px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images/black-background.jpg");
  background-position: center;
  position: relative;
  flex-direction: column;
  /* background-color: black;*/
  height: 63vw;
}

#front-page.orchid-background {
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;
}
#front-page section {
  position: relative;
  bottom: 3rem;
  left: 2rem;
}

#name,
#job-title,
.photo-lineup {
  /* position: absolute; */
  left: 6vw;
  font-size: 6vw;
  color: white;
  margin: 0;
}

#name {
  top: 18vw;
}

#job-title {
  top: 25vw;
}
.photo-lineup {
  top: 33vw;
}

.photo-lineup img {
  width: 8vw;
}
.darker-background {
  background-color: #272727;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#aboutMe {
  padding: 6rem 0;
}
.about-me img {
  width: 80vw;
  border-radius: 20%;
}

.about-me {
  margin: 20px;
}

.about-me-info h3 {
  text-transform: uppercase;
  font-size: 2em;
}
.about-me-info {
  color: white;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 0 20px;
  text-align: justify;
  justify-content: flex-end;
}

#projects {
  padding: 10rem 0;
}
.projects-background {
  background-color: black;
  color: white;
  text-align: center;
}
.projects-background a {
  color: white;
  text-decoration: none;
}
.projects-background h1 {
  margin: 0;
  padding-bottom: 5rem;
  text-transform: uppercase;
}

.projects-list {
  display: flex;
  justify-content: space-evenly;
}

.projects-list div {
  width: 20rem;
  height: 20rem;
  background-color: black;
  margin: 2rem 0;
  border-radius: 50%;
  padding-top: 8.5rem;
  text-transform: uppercase;
}

.projects-list div:hover {
  box-shadow: 0px 0px 40px white;
  transition: ease-in 0.3s;
}
#contactMe {
  padding: 10rem 0;
}

.contact-background {
  background-color: #272727;
}

.contact-background h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding-bottom: 5rem;
  text-transform: uppercase;
}
.contact-background form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  position: relative;
  left: 25%;
}

footer {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 30px;
  height: 10vh;
  width: 10vw;
}
.nav-bar-socials img {
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.nav-bar-socials ul {
  background-color: black;
}
.nav-bar-socials .resume {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 375px) {
  html,
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .nav-bar-left li {
    display: none;
  }
  .navBarMobile {
    width: 35vw;
    height: 25vh;
    padding-top: 7vh;
    background-color: #272727;
    opacity: 0.75;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: right;
    z-index: 1000;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7.5vh;
    overflow: hidden;
    justify-content: flex-start;
    /* border: white solid 1px; */
  }

  .navBarMobile li a {
    z-index: 1001;
    color: white;
    font-size: 5vw;
    text-transform: uppercase;
    text-decoration: none;
  }
  .navBarMobile li {
    padding: 10vh auto 10vh auto;
  }

  .navBarMobile.active {
    display: block;
  }
  .orchid-background {
    width: 100vw;
  }

  .nav-bar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* border: white solid 1px; */
    /* justify-content: flex-start; */
    margin-bottom: 10%;
    position: fixed;
  }
}

@media (min-width: 401px) {
  .navBarMobile {
    display: none;
  }
}

/*DESKTOP */
/*Show these styles only when width of chrome window is atleast 500px*/
@media (min-width: 500px) {
  .darker-background {
    flex-direction: row;
    align-items: center;
    background-color: #222222;
  }
  .about-me img {
    width: 300px;
  }
  .nav-bar-socials img {
    align-items: center;
    height: 3rem;
    width: 3rem;
  }
  #aboutMe {
    padding: 10rem 0;
  }
  .hamburger img {
    width: 5vw;
    padding: 0;
    margin-top: 1.5vw;
    height: 5vh;
    background-color: #222222;
    border: none;
  }
}
